.step {
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;

    &.border-top,
    &.border-v{
        border-top: .1rem solid #c5c5c5;
    }
    &.border-bottom,
    &.border-v{
        border-bottom: .1rem solid #c5c5c5;
    }
    
    &.border-left,
    &.border-h{
        border-left: .1rem solid #c5c5c5;
    }

    &.border-right,
    &.border-h{
        border-right: .1rem solid #c5c5c5;
    }

    > header {
        border-bottom: 0 solid #333;
        margin: 0 0 1rem 0;
        
        > h1 {
            font-size: 1.6rem;
        }

        > p {
            margin: 0.5rem 0 0.5rem 2rem;
        }
    }
}
